{% extends "main.html" %}

{% block content %}

<div class="nxl-content">
    <!-- PAGE HEADER -->
    <div class="page-header">
        <div class="page-header-left">
            <h5>Usuario</h5>
        </div>
    </div>
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="card stretch stretch-full">
                    <div class="card-body">
                        <form
                            action="{% if editJogo.id %}{{ url('/admin/jogos/update/' ~ editJogo.id) }}{% else %}{{ url('/admin/jogos/save') }}{% endif %}"
                            method="POST" enctype="multipart/form-data">

                            <div class="tab-pane fade show active" id="profileTab" role="tabpanel">
                                <div class="card-body personal-info">

                                    <div class="row">

                                        <div class="col-lg-6 mb-4">
                                            <select class="form-control" name="timeUm">
                                                <option value="">Selecione o Time Mandante</option>
                                                {% for time in times %}
                                                <option value="{{ time.id }}">
                                                    {{ time.time }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-lg-6 mb-4">
                                            <select class="form-control" name="cityUm">
                                                <option value="">Selecione a cidades do Time Mandante</option>
                                                {% for city in cidades %}
                                                <option value="{{ city.id }}">
                                                    {{ city.name }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-lg-6 mb-4">
                                            <select class="form-control" name="timeDois">
                                                <option value="">Selecione o Time Visitante</option>
                                                {% for time in times %}
                                                <option value="{{ time.id }}">
                                                    {{ time.time }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-lg-6 mb-4">
                                            <select class="form-control" name="cityDois">
                                                <option value="">Selecione a cidades do Time Visitante</option>
                                                {% for city in cidades %}
                                                <option value="{{ city.id }}">
                                                    {{ city.name }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-lg-6 mb-4">
                                            <select class="form-control" name="hora" id="hora">
                                                <option value="">Selecione o Horario do Jogo</option>
                                                <option value="08:00">08:00</option>
                                                <option value="08:30">08:30</option>
                                                <option value="09:00">09:00</option>
                                                <option value="09:30">09:30</option>
                                                <option value="10:00">10:00</option>
                                                <option value="10:30">10:30</option>
                                                <option value="11:00">11:00</option>
                                                <option value="11:30">11:30</option>
                                                <option value="12:00">12:00</option>
                                                <option value="12:30">12:30</option>
                                                <option value="12:30">13:00</option>
                                                <option value="12:30">13:30</option>
                                                <option value="12:30">14:00</option>
                                                <option value="12:30">14:30</option>
                                                <option value="12:30">15:00</option>
                                                <option value="12:30">15:30</option>
                                                <option value="12:30">16:00</option>
                                                <option value="12:30">16:30</option>
                                                <option value="12:30">17:00</option>
                                                <option value="12:30">17:30</option>
                                                <option value="12:30">18:00</option>
                                                <option value="12:30">18:30</option>
                                                <option value="12:30">19:00</option>
                                                <option value="12:30">19:30</option>
                                                <option value="12:30">20:00</option>
                                                <option value="12:30">20:30</option>
                                                <option value="12:30">21:00</option>
                                                <option value="12:30">21:30</option>
                                                <option value="12:30">22:00</option>
                                                <option value="12:30">22:30</option>
                                                <option value="12:30">23:00</option>
                                                <option value="12:30">23:30</option>
                                                <option value="12:30">00:00</option>

                                            </select>
                                        </div>
                                        <div class="col-lg-6 mb-4">
                                            <select class="form-control" name="rodada" id="rodada">
                                                <option value="">Selecione a rodada</option>
                                                <option value="1">1ª Rodada</option>
                                                <option value="2">2ª Rodada</option>
                                                <option value="3">3ª Rodada</option>
                                                <option value="4">4ª Rodada</option>
                                                <option value="5">5ª Rodada</option>
                                                <option value="6">6ª Rodada</option>
                                                <option value="7">7ª Rodada</option>
                                                <option value="8">8ª Rodada</option>
                                                <option value="9">9ª Rodada</option>
                                                <option value="10">10ª Rodada</option>
                                            </select>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input status-check" type="radio" name="status"
                                                value="1" {% if times.status==1 %}checked{% endif %}
                                                id="checkDefault">
                                            <label class="form-check-label" for="checkDefault">
                                                ativo
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input status-check" type="radio" name="status"
                                                value="0" {% if times.status==0 %}checked{% endif %}
                                                id="checkChecked">
                                            <label class="form-check-label" for="checkChecked">
                                                Inativo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="submit" class="btn btn-primary"
                                value="{% if editJogo.id %}Atualizar{% else %}Cadastrar{% endif %}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-content">

    {% endblock %}