{% extends "main.html" %}

{% block content %}

<div class="nxl-content">
  <!-- PAGE HEADER -->
  <div class="page-header">
    <div class="page-header-left">
      <h5>Posts</h5>
    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="card stretch stretch-full">
          <div class="card-body">
            <div class="card-body">
              <p>Bem-vindo a pagina de Posts</p>

              <div class="table-responsive">
                <form
                  action="{% if editarPosts.id %}{{url('/admin/posts/update/'~editarPosts.id)}}{% else %}{{url('/admin/posts/cadastrar')}}{% endif %}"
                  method="POST" enctype="multipart/form-data">

                  <div class="mb-4 mb-md-0 d-flex gap-4 your-brand">
                        <div class="wd-250 ht-250 position-relative overflow-hidden border border-gray-2 rounded">                          
                          <img id="preview_image" src="{{ editarPosts.posts_imagem ? url('App/Themes/Blog/admin/assets/images/posts/'~editarPosts.posts_imagem) : url('App/Themes/Blog/admin/assets/images/posts/undefined.png')
                          }}" class="upload-pic img-fluid rounded h-250 w-450" alt="">
                        </div>
                        <input type="file" name="imagem" id="files" onchange="preview(this);" accept="image/*">
                        <script>
                          function preview(input) {
                            if (input.files && input.files[0]) {
                              var reader = new FileReader();
                              reader.onload = function (e) {
                                $('#preview_image')
                                  .attr('src', e.target.result)
                                  .width(250)
                                  .height(250);
                              };
                              reader.readAsDataURL(input.files[0]);
                            }
                          }
                        </script>
                        <div class="d-flex flex-column gap-1">
                          <div class="fs-11 text-gray-500 mt-2"># Upload your prifile</div>
                          <div class="fs-11 text-gray-500"># Avatar size 250x250</div>
                          <div class="fs-11 text-gray-500"># Max upload size 8mb</div>
                          <div class="fs-11 text-gray-500"># Allowed file types: png, jpg, jpeg</div>
                        </div>
                      </div>



                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Titulo</label>
                    <input type="text" name="posts" id="titulo" class="form-control" placeholder="Titulo"
                      value="{{ editarPosts.posts }}">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Texto</label>
                    <textarea name="description" id="description" class="form-control" rows="3">{{ editarPosts.description }}</textarea>
                  </div>


                  <div class="mb-3">
                    <select class="form-select form-control" name="id_categoria" aria-label="Default select example">
                      <option selected>Categorias</option>
                      {% for category in categorias %}
                      <option selected value="{{category.id}}">{{ category.title }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="status" id="statusAtivo" value="1" {% if
                      editarcategoria.status == 1 %}checked{% endif %}>
                    <label class="form-check-label" for="statusAtivo">
                      Ativo
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="status" id="statusInativo" value="0" {% if
                      editarcategoria.status == 0 %}checked{% endif %}>
                    <label class="form-check-label" for="statusInativo">
                      Inativo
                    </label>
                  </div>

                  <input type="submit" class="btn btn-primary"
                    value="{% if editarPosts.id %}Atualizar{% else %}Cadastrar{% endif %}">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}