{% extends "main.html" %}

{% block content %}

<div class="nxl-content">
  <!-- PAGE HEADER -->
  <div class="page-header">
    <div class="page-header-left">
      <h5>Posts</h5>
    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="card stretch stretch-full">
          <div class="card-body">
            <div class="card-body">
              <p>Bem-vindo a pagina de Posts</p>

              <div class="table-responsive">
                <form
                  action="{% if editarposts.id %}{{url('/admin/posts/editar/'~editarposts.id)}}{% else %}{{url('/admin/posts/cadastrar')}}{% endif %}"
                  method="POST">

                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Titulo</label>
                    <input type="text" name="posts" id="titulo" class="form-control" placeholder="Titulo"
                      value="{{ editarposts.posts }}">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Texto</label>
                    <textarea name="description" id="description" class="form-control" rows="3">{{ editarposts.description }}</textarea>
                  </div>


                  <div class="mb-3">
                    <select class="form-select form-control" name="id_categoria" aria-label="Default select example">
                      <option selected>Categorias</option>
                      {% for category in categorias %}
                      <option selected value="{{category.id}}">{{ category.title }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="status" id="statusAtivo" value="1" {% if
                      editarcategoria.status == 1 %}checked{% endif %}>
                    <label class="form-check-label" for="statusAtivo">
                      Ativo
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="status" id="statusInativo" value="0" {% if
                      editarcategoria.status == 0 %}checked{% endif %}>
                    <label class="form-check-label" for="statusInativo">
                      Inativo
                    </label>
                  </div>

                  <input type="submit" class="btn btn-primary"
                    value="{% if editarposts.id %}Atualizar{% else %}Cadastrar{% endif %}">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}