<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="megakit,business,company,agency,multipurpose,modern,bootstrap4">

    <meta name="author" content="themefisher.com">

    <title>{{ titulo }}</title>

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{{ url('App/Themes/Blog/Web/assets/plugins/bootstrap/css/bootstrap.min.css')}}">
    <!-- Icon Font Css -->
    <link rel="stylesheet" href="{{ url('App/Themes/Blog/Web/assets/plugins/themify/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{ url('App/Themes/Blog/Web/assets/plugins/fontawesome/css/all.css')}}">
    <link rel="stylesheet" href="{{ url('App/Themes/Blog/Web/assets/plugins/magnific-popup/dist/magnific-popup.css')}}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{{ url('App/Themes/Blog/Web/assets/plugins/slick-carousel/slick/slick.css')}}">
    <link rel="stylesheet" href="{{ url('App/Themes/Blog/Web/assets/plugins/slick-carousel/slick/slick-theme.css')}}">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{ url('App/Themes/Blog/Web/assets/css/style.css')}}">
    <link rel="stylesheet" href="{{ url('App/Themes/Blog/Web/assets/css/message.css')}}" />

</head>

<body>

    {% include 'home.html'%}
    {% block content %}

    {% endblock %}
    {% include 'footer.html'%}


    <script src="{{ url('App/Themes/Blog/Web/assets/js/style.js')}}"></script>

</div>