{% extends "main.html" %} {% block content %}

<div class="nxl-content">
  <!-- PAGE HEADER -->
  <div class="page-header">
    <div class="page-header-title">
      <h5 class="m-b-10">Dashboard</h5>
    </div>
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url('/')}}">Videos</a></li>
      <li class="breadcrumb-item">Videos</li>
    </ul>
  </div>
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="card stretch stretch-full">
          <div class="card-body">
            {{ flash() }}
            <div class="card-body">
              <a href="{{url('/admin/clubes/cadastrar') }}" class="btn btn-primary" value="Cadastrar Categoria"
                style="margin-bottom: 10px; max-width: 180px">Cadastro de Clubes</a>
              <p>Bem-vindo a pagina de Jogos</p>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nome do Clube</th>
                      <th scope="col">Escudo do Clube</th>
                      <th scope="col">Data de Criacao</th>
                      <th scope="col">Cores</th>
                      <th scope="col">Titulos</th>
                      <th scope="col">Estadio</th>
                      <th scope="col">Status</th>
                      <th scope="col">Data de Cadastro</th>
                      <th scope="col">Editar</th>
                      <th scope="col">Deletar</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for clube in findCidades %}                   
                    <tr>
                      <th scope="row">{{ clube.id}}</th>
                      <th scope="row"><img src="{{ clube.thumb }}"/></th>
                      <th scope="row">{{ clube.name}}</th>
                      <td>{{ data(clube.data_titulo) }}</td>
                      <td>{{ clube.cores }}</td>
                      <td>{{ clube.title is empty ? 0 : clube.title }}</td>  
                      <td>{{ clube.estadio }}</td> 
                      <td>
                        {% if clube.status == 1 %}
                        <i class="bi bi-check text-success"></i>
                        {% else %}
                        <i class="bi bi-x-circle text-danger"></i>
                        {% endif %}
                      </td>                     
                      <td>{{ clube.created_at|date("d/m/Y") }}</td>
                      <td>
                        <a href="{{url('/admin/clubes/editar/'~clube.id)}}"><i
                            class="bi bi-pencil-square text-info"></i></a>
                      </td>
                      <td>
                        <a href="{{url('/admin/clubes/delete/'~clube.id)}}"><i
                            class="bi bi-trash3 text-danger"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}