<!-- ================================================================ -->
<!-- Vendors JS -->
<!-- ================================================================ -->
<script src="{{ url('App/Themes/Blog/admin/assets/vendors/js/vendors.min.js') }}"></script>

<!-- Plugins -->
<script src="{{ url('App/Themes/Blog/admin/assets/vendors/js/daterangepicker.min.js') }}"></script>
<script src="{{ url('App/Themes/Blog/admin/assets/vendors/js/apexcharts.min.js') }}"></script>
<script src="{{ url('App/Themes/Blog/admin/assets/vendors/js/circle-progress.min.js') }}"></script>

<!-- ================================================================ -->
<!-- Core App Scripts -->
<!-- ================================================================ -->
<script src="{{ url('App/Themes/Blog/admin/assets/js/common-init.min.js') }}"></script>

<!-- Dashboard (somente se usar gráficos do dashboard) -->
<script src="{{ url('App/Themes/Blog/admin/assets/js/dashboard-init.min.js') }}"></script>

<!-- ================================================================ -->
<!-- Theme Customizer -->
<!-- ================================================================ -->
<script src="{{ url('App/Themes/Blog/admin/assets/js/theme-customizer-init.min.js') }}"></script>
