<nav class="nxl-navigation">
        <div class="navbar-wrapper">
            <div class="m-header">
                <a href="{{ url('/admin')}}" class="b-brand">
                    <!-- ========   change your logo hear   ============ -->
                    <img src="{{ url('App/Themes/Blog/admin/assets/images/logo-full.png')}}" alt="" class="logo logo-lg" />
                    <img src="{{ url('App/Themes/Blog/admin/assets/images/logo-abbr.png')}}" alt="" class="logo logo-sm" />
                </a>
            </div>
            <div class="navbar-content">
                <ul class="nxl-navbar">
                    <li class="nxl-item nxl-caption">
                        <label>Navigation</label>
                    </li>
                    <li class="">
                        <a href="{{ url('/admin/usuario/listar')}}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather feather-user"></i></span>
                            <span class="nxl-mtext">Usuarios</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                        </a>
                        <a href="{{ url('/admin/posts/listar')}}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-clipboard"></i></span>
                            <span class="nxl-mtext">Posts</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                        </a>
                        <a href="{{ url('/admin/categorias/listar')}}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-airplay"></i></span>
                            <span class="nxl-mtext">Categoria</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                        </a>  
                        <a href="{{ url('/admin/videos/listar')}}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather feather-video"></i></span>
                            <span class="nxl-mtext">Videos</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                        </a>                                            
                        <a href="{{ url('/admin/times/listar')}}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather feather-activity"></i></span>
                            <span class="nxl-mtext">Times</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                        </a> 
                        <a href="{{ url('/admin/cidades/listar')}}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather feather-award"></i></span>
                            <span class="nxl-mtext">Cidades</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                        </a>                                           
                        <a href="{{ url('/admin/jogos/listar')}}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather feather-award"></i></span>
                            <span class="nxl-mtext">Jogos</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                        </a>                                                                   
                        <a href="{{ url('/admin/clubes/listar')}}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather feather-flag"></i></span>
                            <span class="nxl-mtext">Clubes</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                        </a>                                            
                    </li>                    
                </ul>
            </div>
        </div>
    </nav>