<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ url('App/Themes/Blog/admin/assets/images/favicon.ico') }}">

<!-- Bootstrap -->
<link rel="stylesheet" href="{{ url('App/Themes/Blog/admin/assets/css/bootstrap.min.css') }}">

<!-- Vendors -->
<link rel="stylesheet" href="{{ url('App/Themes/Blog/admin/assets/vendors/css/vendors.min.css') }}">
<link rel="stylesheet" href="{{ url('App/Themes/Blog/admin/assets/vendors/css/daterangepicker.min.css') }}">

<!-- Theme Style -->
<link rel="stylesheet" href="{{ url('App/Themes/Blog/admin/assets/css/theme.min.css') }}">

<link rel="shortcut icon" type="image/x-icon" href="{{ url('App/Themes/Blog/admin/assets/images/favicon.ico') }}">
<!--! END: Favicon-->
<!--! BEGIN: Bootstrap CSS-->
<script src="{{ url('App/Themes/Blog/admin/assets/js/analytics-init.min.js')}}"></script>
<!--! END: Bootstrap CSS-->
<!--! BEGIN: Vendors CSS-->
<link rel="stylesheet" type="text/css" href="{{ url('App/Themes/Blog/admin/assets/vendors/css/vendors.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url('App/Themes/Blog/admin/assets/vendors/css/daterangepicker.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url('App/Themes/Blog/admin/assets/vendors/css/jquery-jvectormap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url('App/Themes/Blog/admin/assets/vendors/css/select2.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url('App/Themes/Blog/admin/assets/vendors/css/select2-theme.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url('App/Themes/Blog/admin/assets/vendors/css/jquery.time-to.min.css') }}">




    <script src="{{ url('App/Themes/Blog/admin/assets/vendors/js/vendors.min.js')}}"></script>
    <!-- vendors.min.js {always must need to be top} -->
    <script src="{{ url('App/Themes/Blog/admin/assets/js/daterangepicker.min.js')}}"></script>
    <script src="{{ url('App/Themes/Blog/admin/assets/js/apexcharts.min.js')}}"></script>
    <script src="{{ url('App/Themes/Blog/admin/assets/js/jquery.time-to.min.js')}}"></script>
    <script src="{{ url('App/Themes/Blog/admin/assets/js/circle-progress.min.js')}}"></script>
    <!--! END: Vendors JS !-->
    <!--! BEGIN: Apps Init  !-->
    <script src="{{ url('App/Themes/Blog/admin/assets/js/common-init.min.js')}}"></script>
    <script src="{{ url('App/Themes/Blog/admin/assets/js/analytics-init.min.js')}}"></script>
    <!--! END: Apps Init !-->
    <!--! BEGIN: Theme Customizer  !-->
    <script src="{{ url('App/Themes/Blog/admin/assets/js/theme-customizer-init.min.js')}}"></script>