<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon"
      href="{{ url('App/Themes/Blog/admin/assets/images/favicon.ico') }}">

<!-- Bootstrap -->
<link rel="stylesheet"
      href="{{ url('App/Themes/Blog/admin/assets/css/bootstrap.min.css') }}">

<!-- Vendors -->
<link rel="stylesheet"
      href="{{ url('App/Themes/Blog/admin/assets/vendors/css/vendors.min.css') }}">
<link rel="stylesheet"
      href="{{ url('App/Themes/Blog/admin/assets/vendors/css/daterangepicker.min.css') }}">

<!-- Theme Style -->
<link rel="stylesheet"
      href="{{ url('App/Themes/Blog/admin/assets/css/theme.min.css') }}">
