<!--! ================================================================ !-->
<!--! BEGIN: Theme Customizer !-->
<!--! ================================================================ !-->
<div class="theme-customizer">
    <div class="customizer-handle">
        <a href="javascript:void(0);" class="cutomizer-open-trigger bg-primary">
            <i class="feather-settings"></i>
        </a>
    </div>

    <div class="customizer-sidebar-wrapper">
        <!-- Header -->
        <div class="customizer-sidebar-header px-4 ht-80 border-bottom d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Theme Settings</h5>
            <a href="javascript:void(0);" class="cutomizer-close-trigger d-flex">
                <i class="feather-x"></i>
            </a>
        </div>

        <!-- Body -->
        <div class="customizer-sidebar-body position-relative p-4" data-scrollbar-target="#psScrollbarInit">

            <!-- Navigation -->
            <div class="position-relative px-3 pb-3 pt-4 mt-3 mb-5 border border-gray-2 theme-options-set">
                <label
                        class="py-1 px-2 fs-8 fw-bold text-uppercase text-muted text-spacing-2 bg-white border border-gray-2 position-absolute rounded-2 options-label"
                        style="top: -12px">
                    Navigation
                </label>

                <div class="row g-2 theme-options-items app-navigation" id="appNavigationList">
                    <div class="col-6 text-center single-option">
                        <input type="radio" class="btn-check"
                               id="app-navigation-light"
                               name="app-navigation"
                               value="1"
                               data-app-navigation="app-navigation-light"
                               checked>
                        <label class="py-2 fs-9 fw-bold text-dark text-uppercase text-spacing-1 border border-gray-2 w-100 h-100 c-pointer"
                               for="app-navigation-light">
                            Light
                        </label>
                    </div>

                    <div class="col-6 text-center single-option">
                        <input type="radio" class="btn-check"
                               id="app-navigation-dark"
                               name="app-navigation"
                               value="2"
                               data-app-navigation="app-navigation-dark">
                        <label class="py-2 fs-9 fw-bold text-dark text-uppercase text-spacing-1 border border-gray-2 w-100 h-100 c-pointer"
                               for="app-navigation-dark">
                            Dark
                        </label>
                    </div>
                </div>
            </div>

            <!-- Typography -->
            <div class="position-relative px-3 pb-3 pt-4 mt-3 mb-0 border border-gray-2 theme-options-set">
                <label
                        class="py-1 px-2 fs-8 fw-bold text-uppercase text-muted text-spacing-2 bg-white border border-gray-2 position-absolute rounded-2 options-label"
                        style="top: -12px">
                    Typography
                </label>

                <div class="row g-2 theme-options-items font-family" id="fontFamilyList">
                    <div class="col-6 text-center single-option">
                        <input type="radio" class="btn-check"
                               id="app-font-family-lato"
                               name="font-family"
                               data-font-family="app-font-family-lato">
                        <label class="py-2 fs-9 fw-bold text-dark text-uppercase text-spacing-1 border border-gray-2 w-100 h-100 c-pointer"
                               for="app-font-family-lato">
                            Lato
                        </label>
                    </div>

                    <div class="col-6 text-center single-option">
                        <input type="radio" class="btn-check"
                               id="app-font-family-rubik"
                               name="font-family"
                               data-font-family="app-font-family-rubik">
                        <label class="py-2 fs-9 fw-bold text-dark text-uppercase text-spacing-1 border border-gray-2 w-100 h-100 c-pointer"
                               for="app-font-family-rubik">
                            Rubik
                        </label>
                    </div>

                    <div class="col-6 text-center single-option">
                        <input type="radio" class="btn-check"
                               id="app-font-family-inter"
                               name="font-family"
                               data-font-family="app-font-family-inter"
                               checked>
                        <label class="py-2 fs-9 fw-bold text-dark text-uppercase text-spacing-1 border border-gray-2 w-100 h-100 c-pointer"
                               for="app-font-family-inter">
                            Inter
                        </label>
                    </div>

                    <div class="col-6 text-center single-option">
                        <input type="radio" class="btn-check"
                               id="app-font-family-cinzel"
                               name="font-family"
                               data-font-family="app-font-family-cinzel">
                        <label class="py-2 fs-9 fw-bold text-dark text-uppercase text-spacing-1 border border-gray-2 w-100 h-100 c-pointer"
                               for="app-font-family-cinzel">
                            Cinzel
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="customizer-sidebar-footer px-4 ht-60 border-top d-flex align-items-center gap-2">
            <div class="flex-fill w-50">
                <a href="javascript:void(0);" class="btn btn-danger"
                   data-style="reset-all-common-style">
                    Reset
                </a>
            </div>
            <div class="flex-fill w-50">
                <a href="https://www.themewagon.com/themes/Duralux-admin"
                   target="_blank"
                   class="btn btn-primary">
                    Download
                </a>
            </div>
        </div>
    </div>
</div>
<!--! ================================================================ !-->
<!--! END: Theme Customizer !-->
<!--! ================================================================ !-->
