<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="stylesheet" href="{{ url('App/Themes/Blog/Web/assets/css/message.css')}}" />

    {% include "partials/styles.html" %}
</head>


<body>

{% include "partials/sidebar.html" %}
{% include "partials/header.html" %}

<!-- MAIN CONTAINER (APENAS UM) -->
<main class="nxl-container">
    {% block content %}{% endblock %}
</main>

{% include "partials/footer.html" %}
{% include "partials/theme-customizer.html" %}
{% include "partials/scripts.html" %}

</body>
</html>
